<head xmlns="http://www.w3.org/1999/html">
	<link href="{{url_for('static', filename='styles/header.css')}}" rel="stylesheet" type="text/css">
	<!-- Boxicons CDN Link-->

	<meta charset="utf-8"/>
</head>
<body>
	<header class="head">
		<h1 class="heading">Cryptológusok</h1>
		<nav class="navigation" >
			<div class="button">
				<a href="/">
					<img src="{{url_for('static', filename='img/home_logo.svg')}}" alt="home logo"/>
				</a>
				<span class="tooltip">Home</span>
			</div>
			<div class="inner_box">
				<div class="button">
					<a href="#">
						<img src="{{url_for('static', filename='img/graph_logo.svg')}}" alt="graph logo"/>
					</a>
					<span class="tooltip">Graph</span>
				</div>
				<div class="button">
					<a href="/impressum">
						<img src="{{url_for('static', filename='img/user_logo.svg')}}" alt="user logo"/>
					</a>
					<span class="tooltip">Impressum</span>
				</div>
				<div class="button">
					<a href="#">
						<img src="{{url_for('static', filename='img/color_logo.svg')}}" alt="color logo"/>
					</a>
					<span class="tooltip">Night mode</span>
				</div>
			</div>
			<div class="button">
				<a href="https://www.uni.sze.hu/">
					<img src="{{url_for('static', filename='img/sze_logo.svg')}}" alt="sze logo"/>
				</a>
				<span class="tooltip">Sze</span>
			</div>
		</nav>
	</header>
</body>
