<head xmlns="http://www.w3.org/1999/html">
	<link href="{{url_for('static', filename='styles/header.css')}}" rel="stylesheet" type="text/css">

	<meta charset="utf-8"/>
</head>
<body>
	<header class="head">
		<h1 class="heading">Cryptológusok</h1>
		<nav class="navigation" >
			<div class="button">
				<a href="/">
					<img src="{{url_for('static', filename='img/header/home_logo.svg')}}" alt="home logo"/>
				</a>
				<span class="tooltip">Home</span>
			</div>
			<div class="inner_box">
				<div class="button">
					<a href="https://github.com/Cryptologusok/criptologusok" target="_blank">
						<img src="{{url_for('static', filename='img/header/code_icon.svg')}}" alt="user logo"/>
					</a>
					<span class="tooltip">Code</span>
				</div>
				<div class="button">
					<a href="/impressum">
						<img src="{{url_for('static', filename='img/header/user_logo.svg')}}" alt="user logo"/>
					</a>
					<span class="tooltip">Impressum</span>
				</div>
				<div class="button">
					<a href="/comments">
						<img src="{{url_for('static', filename='img/header/comment_logo.svg')}}" alt="color logo"/>
					</a>
					<span class="tooltip">Comments</span>
				</div>
			</div>
			<div class="button">
				<a href="https://www.uni.sze.hu/" target="_blank">
					<img src="{{url_for('static', filename='img/header/sze_logo.svg')}}" alt="sze logo"/>
				</a>
				<span class="tooltip">Sze</span>
			</div>
		</nav>
		<!--<hr/>-->
	</header>
</body>
