<!DOCTYPE html>
<html lang="hu-HU">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{url_for('static', filename='styles/impressum.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="title">Impressum</div>
    <div id="description">A prezentált feladat, a Széchenyi István Egyetem Projectmunka nevű tárgy megoldására készült.</div>
    <div id="project_manadger">Project Manadger <div><a href="mailto:nemeth.daniel@ga.sze.hu">Németh Dániel</a></div></div>
    <div class="body">
        <div class="group">
            <div class="name">Data-extraction</div>
            <ul>
                <li><a href="mailto:nagypeterpal@gmail.com ">Nagy Péter</a></li>
                <li><a href="mailto:vargatom84@gmail.com">Varga Tamás</a></li>
            </ul>
        </div>
        <div class="group">
            <div class="name">Businsess-Inteligent</div>
            <ul>
                <li><a href="mailto:kunviktor58@gmail.com">Kun Viktor</a></li>
                <li><a href="mailto:biankavirag@gmail.com">Ihász Bianka</a></li>
            </ul>
        </div>
        <div class="group">
            <div class="name">Grafical-User-Interface</div>
            <ul>
                <li>
                    <a href="mailto:nemeth.daniel@ga.sze.hu">Németh Dániel</a>
                </li>
                <li>
                    <a href="mailto:levente84fodor@gmail.com">Fodor Levente</a>
                </li>
                <li>
                    <a href="mailto:g.silver.014@gmail.com">Gacs Péter</a>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <div>Készült: 2022/23 tanév 1. félév</div>
    </footer>
</body>
</html>