        /* color codes
        BACKGROUND: #231651
        MAIN: #E8590C - buttons / links - orange
        GREY: 

        ORANGE: #d9480f
        GRAPE: #862e9c
        VIOLET: #5f3dc4
        INDIGO: #364fc7

        
        */

        /* basic setting */
        * {
            margin: 0;
            padding: 0;
        }


        ::-webkit-scrollbar{
            width: 10px;
        }
        
        ::-webkit-scrollbar-track{
            background-color: rgb(220, 218, 228);
        }
        
        ::-webkit-scrollbar-thumb{
            background-color: #50225e;
        }
        
        body {
            /*color: #444;*/
            font-family: 'Inter', sans-serif;
            /*background-color: #231651;*/
            background-image: linear-gradient(to top left, #d9480f 0%, #2a0344 80%);
            color: #fff;
            height: 101vh;
            width: 99vw;
            overflow: hidden;
            /*border-top: 10px solid #1098ad;*/
            /*position: relative;*/
        }

        /* layout */

        .f1 {
            flex: 0 1 auto; 
        }

        .main--link {
            align-self: center;
            /*background-color: #E8590C;*/
            padding: 16px;
        }

        .btn--links {
            align-self: center;
            /*background-color: #E8590C;*/
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            /*padding: 16px;*/
            display: inline-block;
        }

        .logo {
            align-self: center;
            background-color: #fff;
        }

        .container {
            min-height:100%;
            min-width: 100vw;
            display: flex;
            flex-direction: row ;
            align-items: stretch ; /* flex-start, flex-end, center, stretch */
            justify-content: space-between ; /* space-between, center */
        }

        .filters {
            align-self: stretch;
            border: 2px dotted black;
            flex: 0 1 20% ;
            display: flex ;
            flex-direction: column ;
            gap: 5px ;
        }

        .results {
            align-self: stretch;
            border: 2px dotted black;
            flex: 0 0 80% ;
            display: flex;
            flex-direction: column ;
        }

        .results--graph {
            border-top: 2px dotted black;
            border-bottom: 2px dotted black;
            flex: 1 1 70% ;
        }

        .results--figures {
            border: 0px ;
            flex: 0 1 30% ;
        }

        .title {
            margin: 0 auto;
            margin-left: 50%;
        }

        .Date{
            display: flex ;
            flex-direction: row ;
            flex: 0 1 auto ;
            align-items: stretch ;
            justify-content: space-between;
        }

        input[type="date"]{
            align-self: flex-end ;   
        }
        
        .series-control--header {
            display: flex ;
            flex-direction: row ;
            flex: 0 1 auto ;
            align-items: stretch ;
            justify-content: space-between;
            gap: 5px ;
        }

        .btn--add-remove {
            display: flex;
            flex-direction: row;
            flex: 0 1 auto ;
            align-items: center ;
            justify-items: space-between ;
            gap: 5px;
        }

        .btn--add {
            width: 2rem ;
        }

        .btn--remove {
            width: 2rem ;
        }

        .filters--series {
            align-self: flex-start ;
            display: flex;
            flex-direction: column ;
            align-items: flex-start ;
            gap: 2.5px ;
        }

        .btn--send {
            align-self: center ;
            width: 5rem ;
            height: 2.5rem ;
        }

        /* Table formatting */
        #analytics {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
          
        #analytics td, #analytics th {
            border: 1px solid #ddd;
            padding: 8px;
        }
          
        #analytics tr:nth-child(even){background-color: #f2f2f2;}
          
        #analytics tr:hover {background-color: #ddd;}
          
        #analytics th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

        /*
        .btn--links:link,
        .btn--links:visited {
            background-color: #E8590C;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            padding: 16px, 32px;
            display: inline-block;
        }
        /*
        .btn:hover,
        .btn:active {
            background-color: ;
        }
        
        .features-icon {
            stroke: <colorcode> ;
            fill: <colorcode> ;
            width: ;
            height: ;
            margin-bottom: ;
        }
        */