<div class="filters">
    <p class="title">Filters</p>
    <label for="filter--StartDate">Start date:</label>
    <input 
        type="date" 
        class="filter--StartDate" 
        name="trip-start"
        value="2010-01-01"
        min="2010-01-01" max="2022-09-30">
    <label for="filter--EndDate">End date:</label>
    <input 
        type="date" 
        class="filter--EndDate" 
        name="trip-end"
        value="2022-09-30"
        min="2010-01-01" max="2022-09-30">
    <label for ="filters--xaxis">x-axis:</label>
    <div class="filters--xaxis">
        <select>
            <option value="time">time</option>
            <!--<option value="ft_s">ft_s</option>-->
        </select>
    </div>
    <label for ="filters--series">data series:</label>
    <div class="filters--series">
        <!--<select>
            <option value="cr_b">cr_b</option>
            <option value="ft_s">ft_s</option>
        </select>-->
    </div>
    <input class="btn--add" type="button" value="Add"/>
    <input class="btn--remove" type="button" value="Remove"/>
    <input class="btn--send" type="button" value="Send"/>
</div>